.container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "footer footer";
}

nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
}

main {
  grid-area: main;
}

aside {
  height: calc(100vh - 8rem);
  top: 8rem;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main"
      "footer";
  }

  aside {
    position: fixed;
    width: 300px;
    display: block;
  }

  .show {
    display: block;
  }
}
